@charset "UTF-8";
 .head1{
     position: relative;
 }
.head .head1 .h1{
    margin-top: 25px;
    float: left;
    width: 62px;
    height: 55px;
}
 .head .head1 .h1 img{
     float: left;
 }
.head .h2{
    float: left;
    width: 850px;
    height: 100px;
}
.head .h2 .u1{
    float: left;
    width: 820px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    list-style-type: none;
    font-size: 16px;
}
.head .h2 .u1 #kong{
    padding: 50px 69px 38px;
}
.head .h2 .u1 li{
    padding: 29px 18px 38px;
    float: left;
    font-size: 15px;
}
.head .h2 .u1 li a{
    color: black;
    font-size: 15px;
}
.head .h2 .u1 li span:hover{
    cursor: pointer;
    color: red;
}
.head .D1{
    width: 299px;
    height: 51px;
    float: right;
    margin-top: 25px;
}
.head .D1 input{
    float: right;
    display: inline-block;
    width: 245px;
    height: 49px;
    border: 1px solid #ccc;
    border-right: none;
}
.head .D1 .in1{
    float: right;
    background-image:url(../img/3.jpg);
    width: 52px;
    height: 51px;
    border: 1px solid #ccc;
}
.head img:hover{
    cursor: pointer;
}