@charset "UTF-8";
.home .home1 .m3 {
    float: left;
    width: 1226px;
    height: 58px;
}

.home .home1 .m3 h3 {
    float: left;
    line-height: 58px;
}

.home .home1 .m4 {
    float: left;
    width: 1226px;
    height: 380px;
    overflow: hidden;
}

.home .home1 .m4 ul {
    padding-bottom: 40px;
    float: left;
    list-style: none;
    width: 2592px;
    height: 340px;
}

.home .home1 .m4 ul li {
    float: left;
    background: #fafafa;
    border-top: 1px solid #ff7b00;
    width: 234px;
    height: 340px;
    position: relative;
    margin-right: 14px;
}

.home .home1 .m4 ul li .a1 {
    padding-top: 35px;
    padding-left: 30px;
    width: 160px;
    height: 166px;
    display: block;
}

.home .home1 .m4 ul li h3 {
    width: 194px;
    height: 21px;
    display: inline-block;
    margin: 30px 20px 0;
    text-align: center;
}

.home .home1 .m4 ul li h3 .a2 {
    font-size: 15px;
    display: inline-block;
    color: #212121;
}

.home .home1 .m4 ul li .p1 {
    margin: 10px 20px 0;
    width: 192px;
    font-size: 11px;
    text-align: center;
    color: #b0b0b0;
}

.home .home1 .m4 ul li .p2 {
    margin-top: 15px;
    text-align: center;
    font-size: 11px;
    color: #fe6709;
}

.home .home1 .m4 ul li img {
    float: left;
}

.home .HM .He1 {
    position: relative;
    float: left;
    width: 1226px;
    height: 58px;
   /* padding-top: 60px;*/
}

.home .HM .He1 .He2 {
    float: left;
    width: 1226px;
    height: 58px;
}

.home .HM .He1 .He2 h3 {
    position: relative;
    line-height: 58px;
}
.home .HM .He1 .Ho1{
    right: 0;
    position: absolute;
    width: 92px;
    height: 58px;
}
.home .HM .He1 .Ho1 a{
    font-size: 15px;
    right: 5px;
    position: relative;
    width: 92px;
    color: black;
    line-height: 58px;
}
.home .HM .He1 .Ho1 a img{
    position: absolute;
    bottom: 0;
}
.home .HM .He1 .Ho1 a:hover{
    color: #ff6709;
}
.home .HM .He2{
    float: left;
    width: 1240px;
    height: 614px;
    margin-bottom: 23px;
}
.home .HM .He2 .Ho2{
    float: left;
    width: 234px;
    height: 614px;
}.home .HM .He2 .Ho2 a{
    display: block;
    height: 614px;
 }

.home .HM .He2 .Ho3{
    float: left;
    width: 992px;
    height: 614px;
}
.home .HM .He2 .Ho3 ul{
    float: left;
    margin-left: 9px;
    list-style: none;
    width: 992px;
    height: 614px;
}
.home .HM .He2 .Ho3 ul li{
    float: left;
    width: 234px;
    height: 300px;
    margin: 0 14px 14px 0;
    background: white;
}
.home .HM .He2 .Ho3 ul li .dv1{
    width: 160px;
    height: 160px;
    margin: 20px 38px;
}
.home .HM .He2 .Ho3 ul li .dv1 a img{
    height: 160px;
    width: 160px;
    border: none;
}
.home .HM .He2 .Ho3 ul li h3{
    text-align: center;
    width: 234px;
    height: 21px;
    font-size: 12px;
    line-height: 21px;
}
.home .HM .He2 .Ho3 ul li h3 .a2{
    font-size: 12px;
    color: black;
}
.home .HM .He2 .Ho3 ul li .p3{
    height: 18px;
    width: 234px;
    text-align: center;
    font-size: 11px;
    color: #b0b0b0;
    padding-bottom: 10px;
}
.home .HM .He2 .Ho3 ul li .p4{
    width: 234px;
    height: 21px;
    text-align: center;
    font-size: 12px;
    color: #ff6700;
}