@charset "UTF-8";
.page .page2 .d3{
    float: left;
    height: 60px;
    width: 1226px;
}
.page .page2 .d3 h2{
    float: left;
    width:49px;
    font-weight: lighter;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
}
.page .page2 .d3 .p1{
    float: right;
    height: 42px;
    width: 358px;
}
.page .page2 .d3 .p1 ul{
    float: right;
    padding-top: 18px;
    height: 26px;
    width: 445px;
    font-size: 15px;
    list-style: none;

}
.page .page2 .d3 .p1 ul li{
    cursor: pointer;
    float: right;
    height: 26px;
    line-height: 26px;
    margin: 0 0 0 29px;
    text-align: center;
    width:60px;
    background:none;
}
.page .page2 .d3 .p1 ul .bg{
    color: #ff6700;
    border-bottom: 1px solid #ff6700;
}



.page .page2 .g2{
    width: 1226px;
    height: 628px;
    float: left;
}
.page .page2 .g2 .B1{
    width: 234px;
    height: 628px;
    float: left;
}
.page .page2 .g2 .B2{
    width: 992px;
    height: 628px;
    float: left;
}
.page .page2 .g2 .B1 ul{
    float: left;
    width: 234px;
    height: 628px;
    list-style: none;

}
.page .page2 .g2 .B1 ul li{
    margin-bottom: 13px;
    float: left;
    width: 234px;
    height: 300px;
}
.page .page2 .g2 .B2 ul{
    margin-left: 9px;
    float: left;
    width: 992px;
    height: 628px;
    list-style: none;
    padding-left: 4px;
}
.page .page2 .g2 .B2 ul li{
    /*margin-bottom: 13px;*/
    float: left;
    width: 234px;
    height: 300px;
    /*margin: 4.5px;*/
    margin-right: 14px;
    margin-bottom: 13px;
    /*background: #ff7b00;*/
    background: white;
}
.page .page2 .g2 .B2 ul li .DV2{
    padding-bottom: 20px;
    padding-left: 42px;
    padding-top: 35px;
    width: 150px;
    height: 150px;
}
.page .page2 .g2 .B2 ul li .DV2 a{
    width: 150px;
    height: 150px;
}
.page .page2 .g2 .B2 ul li .DV2 a img{
    width: 150px;
    height: 150px;
}
.page .page2 .g2 .B2 ul li .DV3{
    float: left;
    width: 64px;
    height: 20px;
    line-height: 20px;
    background: #83c44e;
    margin-left: 85px;
    text-align: center;
    font-size: 11px;
    color: white;
}
.page .page2 .g2 .B2 ul li h3{
    width: 234px;
    height: 21px;
    text-align: center;
}
.page .page2 .g2 .B2 ul li h3 a{
    font-size: 12px;
    color: black;
    line-height: 21px;
}
.page .page2 .g2 .B2 ul li .p5{
    text-align: center;
    width: 234px;
    height: 21px;
    line-height: 21px;
    color: #ff7b00;
    padding-bottom: 10px;
}
.page .page2 .g2 .B2 ul li .p6{
    text-align: center;
    width: 234px;
    height: 18px;
    line-height: 18px;
    font-size: 11px;
    color: #b0b0b0;
}
.page .page2 .g2 .B2 ul li .D2{
    position: relative;
    height: 143px;
    width: 234px;
    float: left;
    margin-bottom: 14.4px;
    background: white;

}
.page .page2 .g2 .B2 ul li .D3{
    position: relative;
    height: 143px;
    width: 234px;
    float: left;
    background: white;

}
.page .page2 .g2 .B2 ul li .D2 .I1{
    position: absolute;
    right: 22px;
    top: 39px;
    float: right;
    width: 80px;
    height: 80px;
}
.page .page2 .g2 .B2 ul li .D2 .I2{
    position: absolute;
    top: 46px;
    left: 30px;
    width: 95px;
    height: 40px;
    font-size: 10px;
}
.page .page2 .g2 .B2 ul li .D2 .I2 .n1{
    display: inline-block;
    margin-bottom: 16px;
}
.page .page2 .g2 .B2 ul li .D3 .I3{
    position: absolute;
    top: 45px;
    right: 35px;
    float: right;
    width: 48px;
    height: 48px;
}
.page .page2 .g2 .B2 ul li .D3 .I4{
    position: absolute;
    top: 55px;
    left: 30px;
    width: 80px;
    height: 40px;
}

.page .page2 .d4{
    position: relative;
    width: 1226px;
    height: 60px;
    float: left;
}

.page .page2 .d4 h2{
    float: left;
    width:80px;
    font-weight: lighter;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
}
.page .page2 .d4 .i2{
    position: absolute;
    bottom: 0;
    right: 0;
    float: right;
    width: 72px;
    height: 24px;
}
.page .page2 .d4 .i2 a{
    float: left;
    display: inline-block;
    width: 36px;
    height: 24px;
}
.page .page2 .d4 .i2 img{
    float: left;
}
.page .page2 .d5{
    float: left;
    width: 1226px;
    height: 330px;
    overflow: hidden;
}
.page .page2 .d5 .u2{
    list-style: none;
    float: left;
    width: 4960px;
    height: 314px;
}
.page .page2 .d5 .u2 li{
    float: left;
    width: 234px;
    height: 300px;
    margin: 0 14px 14px 0;
    background: white;
}
.page .page2 .d5 .u2 li .v1{
    float: left;
    padding-top: 40px;
    padding-left: 48px;
    width: 140px;
    height: 140px;
}
.page .page2 .d5 .u2 li .v1 img{
    border: none;
    width: 140px;
    height: 140px;
}
.page .page2 .d5 .u2 li .qH3{
    display: inline-block;
    margin-top: 12px;
    width: 234px;
    text-align: center;
}
.page .page2 .d5 .u2 li .qH3 a{
    display: inline-block;
    font-size: 10px;
    color: black;
}
.page .page2 .d5 .u2 li .oP1{
    width: 234px;
    text-align: center;
    padding-top:5px;
    font-size: 12px;
    color: #ff6700;
}
.page .page2 .d5 .u2 li .oP2{
    width: 234px;
    text-align: center;
    padding-top:12px;
    font-size: 12px;
    color: #757575;
}
.page .page2 .d6{
    position: relative;
    width: 1226px;
    height: 60px;
    float: left;
}

.page .page2 .d6 h2{
    float: left;
    width:80px;
    font-weight: lighter;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
}
.page .page2 .d7{
    float: left;
    width: 1226px;
    height: 380px;
    margin-bottom: 20px;
}
.page .page2 .d7 ul{
    float: left;
    list-style: none;
    width: 1240px;
    height: 380px;
}
.page .page2 .d7 ul li{
    float: left;
    width: 296px;
    height: 380px;
    background: white;
}
.page .page2 .d7 ul .i1{
    float: left;
    margin: 0 0 14px 14px;
}
.page .page2 .d7 ul .i3{
    margin-bottom: 14px;
}
.page .page2 .d7 ul li .v2{
    float: left;
    width: 296px;
    height: 220px;
}
.page .page2 .d7 ul li .v2 a{
    width: 296px;
    height: 220px;
    display: block;
}
.page .page2 .d7 ul li .v2 a img{
    float: left;
    border: none;
}
.page .page2 .d7 ul li h3{
    display: inline-block;
    float: left;
    width: 236px;
    height: 42px;
    font-size: 12px;
    padding-left: 32px;
    padding-top: 34px;
}
.page .page2 .d7 ul li h3 a{
    color: black;
    width: 236px;
}
.page .page2 .d7 ul li .oP3{
    float: left;
    display: inline-block;
    width: 236px;
    height: 18px;
    padding-left: 32px;
    padding-bottom: 15px;
    font-size: 11px;
    color: #b0b0b0;
}
.page .page2 .d7 ul li .v3{
    float: left;
    width: 236px;
    height: 21px;
    padding-left: 32px;
}
.page .page2 .d7 ul li .v3 a{
    display: inline-block;
    float: left;
    font-size: 12px;
    color: black;
    line-height: 25px;
    padding-right: 14px;
}
.page .page2 .d7 ul li .v3 span{
    float: left;
    display: inline-block;
    padding-right: 14px;
    color: #e4ebf6;

}
.page .page2 .d7 ul li .v3 p{
    float: left;
    display: inline-block;
    font-size: 12px;
    color: #ff8200;
    line-height: 25px;
}

.page .page2 .d8{
    position: relative;
    width: 1226px;
    height: 60px;
    float: left;
}

.page .page2 .d8 h2{
    float: left;
    width:80px;
    font-weight: lighter;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
}
.page .page2 .d9{
    float: left;
    width: 1226px;
    height: 420px;
    margin-bottom: 20px;
}
.page .page2 .d9 ul{
    list-style: none;
    width: 1240px;
    height: 420px;
}
.page .page2 .d9 ul li{
    float: left;
    width: 296px;
    height: 420px;
    margin: 0 0 14px 14px;
    background: white;
}
.page .page2 .d9 ul .i4{
    margin:0 0 14px 0;
}
.page .page2 .d9 ul .i4 h2{
    padding: 45px 10px 18px 18px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #ffcd52;
}
.page .page2 .d9 ul .i4 div a{
    display: block;
    text-align: center;
}
.page .page2 .d9 ul .i4 div .oA1{
    font-size: 19px;
    color: black;
    padding-bottom: 10px;
}
.page .page2 .d9 ul .i4 div .oA2{
    width: 198px;
    height: 54px;
    margin: 0 48px 10px 48px;
    font-size: 11px;
    color: #ccc;
}
.page .page2 .d9 ul .i4 div .oA3{
    font-size: 12px;
    color: #333333;
}
.page .page2 .d9 ul .i4 div div{
    width: 216px;
    height: 156px;
    margin: 0 40px;
}


















.page .page2 .d10{
    position: relative;
    float: left;
    width: 1226px;
    height: 58px;
    /* padding-top: 60px;*/
}

.page .page2 .d10 .He2 {
    float: left;
    width: 1226px;
    height: 58px;
}

.page .page2 .d10 .He2 h3 {
    position: relative;
    line-height: 58px;
}
.page .page2 .d10 .Ho1{
    right: 0;
    position: absolute;
    width: 92px;
    height: 58px;
}
.page .page2 .d10 .Ho1 a{
    font-size: 15px;
    right: 5px;
    position: relative;
    width: 92px;
    color: black;
    line-height: 58px;
}
.page .page2 .d10 .Ho1 a img{
    position: absolute;
    bottom: 0;
}
.page .page2 .d10 .Ho1 a:hover{
    color: #ff6709;
}