* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Microsoft Yi Baiti";
    overflow: hidden;
}

ul {
    list-style: none;
}

@media all and (max-height: 480px) {
    .a3 {
        top: 8%;
        left: 4%;
    }

    .i1 {
        left: 20%;
    }
}

#main {
    width: 640px;
    height: 960px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -320px;
    -webkit-transform-origin: top;
}

.slide li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.slide li:nth-child(1) {
    background: url("../images/a.jpg") no-repeat;
}

.slide li:nth-child(2) {
    background: url("../images/b.jpg") no-repeat;
}

.slide li:nth-child(3) {
    width: 100%;
    height: 100%;
    background: url("../images/d.jpg") no-repeat;
}

.slide li:nth-child(4) {
    background: url("../images/c.jpg") no-repeat;
}

.zIndex {
    z-index: 999;
}

.a1 {
    width: 80%;
    height: 85px;
    position: absolute;
    left: 9.6%;
    top: 56%;
    background: white;
}

.a1 h2 {
    float: right;
    line-height: 80px;
    padding-right: 30px;
    font-weight: normal;
    color: black;
    font-size: 50px;

}

.a2 {
    width: 80%;
    height: 214px;
    position: absolute;
    left: 9.5%;
    top: 65%;
    background: white;
    opacity: 0.5;
    font-size: 38px;
}

.l1 {
    position: absolute;
    left: 14%;
    top: 48%;
    border-radius: 50%;
    width: 190px;
    border: 5px solid white;
}

.a2 p {
    margin: 10px;
}

.a3 {
    position: absolute;
    top: 8%;
    left: 8%;
    width: 131px;
    height: 234px;
    padding: 7px 15px;

}

.a3 span {
    width: 84px;
    height: 190px;
    display: block;
    font-size: 80px;
    text-align: center;
    padding-left: 23px;
    color: white;
    font-weight: bold;
}

.a3 p {
    display: block;
    float: left;
    width: 111px;
    height: 44px;
    font-size: 30px;
    padding: 0 12px;
    color: white;
    text-align: center;
}

.i1 {
    border: none;
    position: absolute;
    top: 9.8%;
    left: 24%;
    height: 560px;
}

.a4 {
    position: absolute;
    top: 10%;
    left: 33%;
    width: 350px;
    height: 560px;
    margin: 7px 12px;
}

.a4 span {
    display: block;
    font-size: 33px;
    color: white;
}

#a5 img {
    position: absolute;
    border: none;
    width: 290px;
    height: 238px;
}

#a5 div {
    position: absolute;
    height: 238px;
    width: 274px;
    background: #e9f5f7;
    left: 0;
    top: 0;
    display: block;
}

#a5 .g1 {
    top: 4.9%;
    left: 10%;
}

#a5 .g2 {
    top: 36%;
    left: 45.4%;
}

#a5 .g3 {
    top: 67%;
    left: 10%;
}

#a5 .v1 {
    top: 4.9%;
    left: 48%;
}

#a5 .v2 {
    top: 36%;
    left: 10%;
}

#a5 .v3 {
    top: 67%;
    left: 48%;
}

#a5 i img {
    border: none;
}

#a5 i {
    display: block;
    position: absolute;
    left: 10%;
    top: 30%;
    height: 50px;
    width: 60px;
}

@media all and (max-height: 480px ) {
    #a5 img {
        position: absolute;
        border: none;
        width: 312px;
        height: 242px;
    }

    #a5 div {
        position: absolute;
        height: 243px;
        width: 296px;
        background: #e9f5f7;
        left: 0;
        top: 0;
        display: block;
    }

    #a5 .g1 {
        top: 7.9%;
        left: 3.4%;
    }

    #a5 .g2 {
        top: 39%;
        left: 49.6%;
    }

    #a5 .g3 {
        top: 70%;
        left: 3.4%;
    }

    #a5 .v1 {
        top: 7.9%;
        left: 52%;
    }

    #a5 .v2 {
        top: 39%;
        left: 3.4%;
    }

    #a5 .v3 {
        top: 70%;
        left: 52%;
    }
}

#a5 div p {
    display: block;
    width: 193px;
    height: 77px;
    font-size: 36px;
    margin: 20px 0 5px 27px;
    color: #31d1d2;
}

#a5 div .p2 {
    display: block;
    width: 237px;
    height: 63px;
    line-height: 63px;
    text-align: center;
    color: white;
    font-size: 28px;
    margin: 20px 0 5px 22px;
    background: #55e0e0;
}
#a5 .p1 {
    position: absolute;
    top: 32.8%;
    left: 10%;
    width: 514px;
    height: 0;
    border: 1px solid white;
}

#a5 .p3 {
    position: absolute;
    top: 64%;
    left: 10%;
    height: 0;
    width: 515px;
    border: 1px solid white;
}

@media all and (max-height: 480px ) {
    #a5 .p1 {
        position: absolute;
        top: 35.8%;
        left: 4%;
        width: 597px;
        height: 0;
        border: 1px solid white;
    }

    #a5 .p3 {
        position: absolute;
        top: 67%;
        left: 4%;
        height: 0;
        width: 597px;
        border: 1px solid white;
    }
    #a5 div .p2 {
        display: block;
        width: 237px;
        height: 63px;
        line-height: 63px;
        text-align: center;
        color: white;
        font-size: 28px;
        margin: 20px 0 5px 21px;
        background: #55e0e0;
    }
}
#a6 h2{
    position: absolute;
    display: block;
    top: 4%;
    left: 8%;
    font-size: 94px;
    color: white;
    width: 100px;
    height: 100px;
}
#a6 span{
    position: absolute;
    display: block;
    top: 9%;
    left: 22%;
    color: white;
    font-size: 47px;
}
#a6 p{
    display: block;
    position: absolute;
    top: 17%;
    left: 9%;
    color: white;
    font-size: 30px;
    width: 337px;
    height: 144px;
}
#a6 div{
    position: absolute;
    bottom: 3%;
    right: 7%;
    color: white;
    width: 184px;
    height: 64px;
    font-size: 60px;
    z-index: 10;
}
